<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <section class="container">
      <%- include('partials/navbar.ejs') %>

      <article class="content">
        <h1>Seja bem vindo!</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          fugiat rerum dolorem dicta vel earum recusandae, reiciendis,
          temporibus deserunt ex ipsam amet enim quibusdam adipisci error iste
          sed itaque dolore?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          fugiat rerum dolorem dicta vel earum recusandae, reiciendis,
          temporibus deserunt ex ipsam amet enim quibusdam adipisci error iste
          sed itaque dolore?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
          fugiat rerum dolorem dicta vel earum recusandae, reiciendis,
          temporibus deserunt ex ipsam amet enim quibusdam adipisci error iste
          sed itaque dolore?
        </p>
      </article>
    </section>
    <%- include('partials/footer.ejs') %> 
    <%- include('partials/foot.ejs') %>
  </body>
</html>
